.header {
  border: solid 2px black;
  padding: 10px;
}

.body {
  border: solid 2px black;
  padding: 10px;
  margin-top: 10px;
}

.row {
  display: flex;
  width: 100%;
}

.token {
  flex: 0 0 45%;
  max-width: 45%;
  padding: 5px;
}

h4 {
  text-align: center;
}

.converter {
  flex: 0 0 10%;
  max-width: 10%;
  padding: 5px;
  margin-top: 80px;
}

button.btn-convert {
  border: solid 1px black;
  background-color: gray;
  color: white;
  cursor: pointer;
}

textarea.token-textarea {
  width: 100%;
  height: 300px;
}

.payload {
  flex: 0 0 45%;
  max-width: 45%;
  padding: 5px;
}
