<div class="header text-center" xmlns="http://www.w3.org/1999/html">
  <h2>JWT-TOKEN NEDİR?</h2>
  <p>
    JWT (JSON Web Token), kullanıcı yetkilendirmesi ve bilgi paylaşımı gibi amaçlarla kullanılan bir standartdır.
    JWT, verilerin güvenli bir şekilde taşınabilmesi için bir veri formatıdır. Bu formatta veri, JSON formatında
    kodlanır ve bir anahtar sözcük ile imzalanır. Anahtar sözcük, veriyi imzalayan kişinin veya kuruluşun kimliğini doğrulamak için kullanılır.
    JWT'ler, kullanıcı kimlik bilgileri ve diğer kullanıcıya özel verileri içerebilir.
    Bir kullanıcı başarılı bir şekilde kimlik doğrulaması yaptıktan sonra sunucu, kullanıcının kimliğini doğrulamak için bir JWT oluşturabilir.
    Bu JWT daha sonra her istekte sunucuya gönderilebilir ve sunucu, kullanıcının kimliğini doğrulayabilir ve kullanıcıya özel işlemler yapabilir.
    JWT'ler, oturum bilgilerinin sunucu tarafında saklanması yerine istemci tarafında saklanması nedeniyle özellikle tek sayfalık uygulamalar
    ve mikro servis mimarilerinde yaygın olarak kullanılır.
  </p>
</div>
<div class="body">
  <div class="row">
    <div class="token">
      <h4>Token</h4>
      <textarea class="token-textarea" type="text" [(ngModel)]="token" placeholder="token giriniz"></textarea>
    </div>
    <div class="converter">
      <button class="btn-convert" type="button" [disabled]="!token" (click)="jwtPayload()">==></button>
    </div>
    <div class="payload">
      <h4>Payload</h4>
      <div class="col-12 p-2" style="border: solid 1px black">
        <div class="row">
          <div class="col-3">
            <div *ngFor="let item of table_Key">
              {{item}}:
            </div>
          </div>
          <div class="col-9">
            <div *ngFor="let item of table_Value">
              {{item}}
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
